body {
  font-family: 'Hubballi', cursive;
  background-color: #f1f5f9;
  font-size: 1.6rem;
}
header {
  background-color: #0ea5e9;
  padding: 1.5rem;
  border-bottom: 1rem solid #0284c7;
}
header h1 {
  text-align: center;
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 3rem;
  margin:0;
}
.dos-columnas {
  display: grid;
  gap: 4rem;
}
@media (min-width: 768px) {
  .dos-columnas {
    grid-template-columns: repeat(2, 1fr);
  }
}
main {
  margin: 4rem auto;
  max-width: 1200px;
}
.contenedor {
  margin: 0 auto 2rem auto;
  border-radius: .5rem;
  background-color: white;
  padding: 4rem;
  -webkit-box-shadow: 0px 10px 33px -17px rgba(173,173,173,1);
  -moz-box-shadow: 0px 10px 33px -17px rgba(173,173,173,1);
  box-shadow: 0px 10px 33px -17px rgba(173,173,173,1);
  width: 100%;
}
form {
  width: 100%;
}
.campo {
  max-width: 400px;
  margin: 0 auto 1rem auto;
}
.campo label {
  display: block;

}
.campo input,
.campo select {
  all: unset;
  border: 1px solid #cbd5e1;
  width: 100%;
  border-radius: 1rem;
  padding: .5rem;
}

 input[type="submit"] {
  border-radius: 8px;
  background-color: #0ea5e9;
  margin: 2rem auto 0 auto;
  display: block;
  padding: 1rem 3rem;
  color: white;
  text-transform: uppercase;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  border: none;
  width: 100%;
  transition: background-color .3s ease;
}
@media (min-width: 768px) {
   input[type="submit"]  {
     max-width: 400px;
  }
}
 input[type="submit"]:hover {
  background-color: #0369a1;
}

.alerta{
  color: #e60000;
  text-align: center;
}

.sin-resultados{
  text-align: center;
  margin-top: 3rem;
  font-size: 1.5rem;
}

.sin-resultados span{
  display: block;
  font-weight: bold;
  font-size: 2rem;
}

.clima {
  text-align: center;
}

.clima > p:first-of-type {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.clima p {
  text-align: center;
  margin: 0;
}

.clima p span{
  font-size: 1rem;
  vertical-align: super;
}

.temp-min-max{
  display: flex;
  justify-content: center;
  gap: 4rem;
}

/* ==== ==== ==== Loading ==== ==== ==== */

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.centered{
  width:400px;
  height:400px;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  /* background:#000; */
  filter: blur(1px) contrast(20);
}
.blob-1,.blob-2{
  width:70px;
  height:70px;
  position:absolute;
  background:#0284c7;
  border-radius:50%;
  top:50%;left:50%;
  transform:translate(-50%,-50%);
}
.blob-1{
  left:20%;
  animation:osc-l 1s ease infinite;
}
.blob-2{
  left:80%;
  animation:osc-r 1s ease infinite;
  background:#0ea5e9;
}
@keyframes osc-l{
  0%{left:20%;}
  50%{left:50%;}
  100%{left:20%;}
}
@keyframes osc-r{
  0%{left:80%;}
  50%{left:50%;}
  100%{left:80%;}
}